<!doctype html>
<html>
  <head>
	<title>Minha Escola Melhor</title>
    <script src="assets/vendor/angular/angular.min.js"></script>
  </head>
  <body ng-app="minhaEscolaMelhor">
    <div ng-controller="schoolController">		
		<label>Procurar: <input ng-model="searchText"></label>  {{location.name}} - 
		<label>P&aacute;gina: <input ng-model="schoolsPage" size="3"></label> 
		<button ng-click="getSchools()">Go</button>
		<button ng-click="getNextSchools()">Next</button>
		<br/><br/>
		<schools-info items="schools" filter="searchText" />
	</div>
	
  </body>
  
  <script src="app/app.module.js"></script>
  <script src="app/components/appCivico/escolas/schoolController.js"></script>
  <script src="app/components/appCivico/escolas/schoolService.js"></script>
  <script src="app/shared/directives/schoolsInfo.js"></script>
               
</html>